---
import "../styles/global.css"
---

<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<title>Delta</title>
</head>

<body>

<script>
	const user = JSON.parse(localStorage.getItem("user") || "null")

	if (user?.id && user?.token) {
		window.location.href = "/tasks"
	} else {
		window.location.href = "/register"
	}
</script>


</body>
</html>