---
import {RegisterForm} from "../components/RegisterForm.tsx"
import "../styles/global.css"
---

<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>

<body>

<RegisterForm client:load />

</body>
</html>