---
import TaskPage from "../components/TaskPage.tsx";
import "../styles/global.css";
---

<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Tasks</title>
</head>

<body>
<TaskPage client:load />
</body>
</html>